<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false %>
    <%= f.input :password_confirmation, required: false %>
    <%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true %>

    <p>
    <strong>Facebook:</strong> <%= current_user.contacts.where.not(facebook_name: nil).count %> contacts. <%= link_to "Update", user_omniauth_authorize_path(:facebook) %>
    </p>
    <p>
    <strong>Google:</strong> <%= current_user.contacts.where.not(google_name: nil).count %> contacts. <%= link_to "Update", "/contacts/gmail" %>
    </p>
    <p>
    <strong>Linkedin:</strong> <%= current_user.contacts.where.not(linkedin_name: nil).count %> contacts. <%= link_to "Update", "/contacts/linkedin" %>
    </p>
    <p>
    <strong>Hotmail:</strong> <%= current_user.contacts.where.not(hotmail_name: nil).count %> contacts. <%= link_to "Update", "/contacts/hotmail" %>
    </p>
    <p>
    <strong>Yahoo:</strong> <%= current_user.contacts.where.not(yahoo_name: nil).count %> contacts. <%= link_to "Update", "/contacts/yahoo" %>
    </p>
    <p>
    <strong>Twitter:</strong> <%= current_user.contacts.where.not(twitter_name: nil).count %> contacts. <%= link_to "Update", user_omniauth_authorize_path(:twitter) %>
    </p>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Update" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
